<div class="tree-node">
   <div *ngIf="node" class="node-value" [class.node-value-path]="node.is_result_path">
      <table>
        <tbody>
            <tr *ngFor="let row of node.matrix">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
        </tbody>
      </table>
      <div class="node-value-info">
        <span>Функция = {{ node.rate }}</span>
        <span>Не на своих местах = {{ node.g }}</span>
      </div>
   </div>
   <div *ngIf="node?.children" class="children-container">
     <div *ngFor="let nd of node?.children" class="child">
       <app-tree-node [node]="nd"></app-tree-node>
     </div>
   </div>
</div>

<!-- <div style="display: flex; flex-direction: column; align-items: center;  margin-left: 20px">
  <div *ngIf="node" [class.node-value-path]="node.is_result_path" class="node-value">{{ node.g }}</div>
  <div *ngIf="node?.children" class="children">
    <div *ngFor="let nd of node?.children" >
      <app-tree-node [node]="nd"></app-tree-node>
    </div>
  </div>
</div> -->
